*{
	margin: 0px auto;
}
body{
	text-align: center;
	width: 100%;
	height: 100%;

}
header{
	padding: 10px;
	background-color: royalblue;
	opacity: 0.9;

}
section{
	clear: both;
}
#banner{
	height: 300px;
	background-image: url(https://img.etsystatic.com/il/8b1674/1195731693/il_fullxfull.1195731693_9gud.jpg?version=0);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: repeat;

}
#content{

	background-color:royalblue;

	height: 200px;
	padding:100px;
	color: white;
	font-family: 'Times New Roman', Times, serif;
	font-size: 25px;
}

h1{
	float: left;
	padding: 30px;
	font-family: 'Times New Roman', Times, serif;
	color:white;
}
#list{
	padding: 20px;
	margin: 30px;

}
#list li{
	float: right;
	list-style: none;
	color: white;
	font-variant: small-caps;
	margin-right: 60px;
	margin-bottom: 30px;



}
#banner h2{
	text-align: center;
	padding: 100px;
	color: white;
	font-style: italic;
	font-family: 'Times New Roman', Times, serif;
	font-size: 50px;
	margin-left: 50px;
}

#footer h5{

	background-color:whitesmoke;
	width: 1000;
	color:black;
	font-family: 'Times New Roman', Times, serif;
	font-size: 15px;
	height: 50px;
	line-height: 50px;
	text-align: center;

}